<h1>Accordion Menu</h1>

<iw-accordion-menu content='[
    {
      "title": "Item 1",
      "url": "#",
      "submenu": [
        {
          "title": "Item 1A",
          "url": "#",
          "submenu": [
            {
              "title": "Item 1Ai",
              "url": "#"
            },
            {
              "title": "Item 1Aii",
              "url": "#"
            },
            {
              "title": "Item 1Aiii",
              "url": "#"
            }
          ]
        },
        {
          "title": "Item 1B",
          "url": "#"
        },
        {
          "title": "Item 1C",
          "url": "#"
        }
      ]
    },
    {
      "title": "Item 2",
      "url": "#",
      "submenu": [
        {
          "title": "Item 2A",
          "url": "#"
        },
        {
          "title": "Item 2B",
          "url": "#"
        }
      ]
    },
    {
      "title": "Item 3",
      "url": "#"
    },
    {
      "title": "Item 4",
      "url": "#"
    }
  ]'></iw-accordion-menu>

<h2>Markup</h2>
<iw-code mode="markup">
&lt;iw-accordion-menu content='[
  {
    "title": "Item 1",
    "url": "#",
    "submenu": [
      {
        "title": "Item 1A",
        "url": "#",
        "submenu": [
          {
            "title": "Item 1Ai",
            "url": "#"
          },
          {
            "title": "Item 1Aii",
            "url": "#"
          },
          {
            "title": "Item 1Aiii",
            "url": "#"
          }
        ]
      },
      {
        "title": "Item 1B",
        "url": "#"
      },
      {
        "title": "Item 1C",
        "url": "#"
      }
    ]
  },
  {
    "title": "Item 2",
    "url": "#",
    "submenu": [
      {
        "title": "Item 2A",
        "url": "#"
      },
      {
        "title": "Item 2B",
        "url": "#"
      }
    ]
  },
  {
    "title": "Item 3",
    "url": "#"
  },
  {
    "title": "Item 4",
    "url": "#"
  }
]'&gt;&lt;/iw-accordion-menu&gt;
</iw-code>
