<h1>Accordion</h1>

<p>
  The accordion component is based on foundations component, but doesn't use jQuery. The foundation plugin expected a certain structure that doesn't work
  with our custom components.
</p>

<iw-accordion>
  <iw-accordion-pane title="Accordion 1">
    <p>Panel 1. Lorem ipsum dolor</p>
    <a href="#0">Nowhere to Go</a>
  </iw-accordion-pane>
  <iw-accordion-pane title="Accordion 2">
    <textarea></textarea>
    <button class="button">I do nothing!</button>
  </iw-accordion-pane>
  <iw-accordion-pane title="Accordion 3">
    Type your name!
    <input type="text"></input>
  </iw-accordion-pane>
</iw-accordion>

<!-- <iw-accordion>
  <li>
    <iw-accordion-pane title="Accordion 1">
      <p>Panel 1. Lorem ipsum dolor</p>
      <a href="#0">Nowhere to Go</a>
    </iw-accordion-pane>
  </li>
  <li>
    <iw-accordion-pane title="Accordion 2">
      <textarea></textarea>
      <button class="button">I do nothing!</button>
    </iw-accordion-pane>
  </li>
  <li>
    <iw-accordion-pane title="Accordion 3">
      Type your name!
      <input type="text"></input>
    </iw-accordion-pane>
  </li>
</iw-accordion> -->

<h2>HTML</h2>
<iw-code mode="html">
&lt;iw-accordion&gt;
  &lt;iw-accordion-pane title="Accordion 1"&gt;
    &lt;p&gt;Panel 1. Lorem ipsum dolor&lt;/p&gt;
    &lt;a href="#0"&gt;Nowhere to Go&lt;/a&gt;
  &lt;/iw-accordion-pane&gt;

  &lt;iw-accordion-pane title="Accordion 2"&gt;
    &lt;textarea&gt;&lt;/textarea&gt;
    &lt;button class="button"&gt;I do nothing!&lt;/button&gt;
  &lt;/iw-accordion-pane&gt;

  &lt;iw-accordion-pane title="Accordion 3"&gt;
    Type your name!
    &lt;input type="text"&gt;&lt;/input&gt;
  &lt;/iw-accordion-pane&gt;
&lt;/iw-accordion&gt;
</iw-code>
