<h1>Alert</h1>

<p>
  Alerts can be used to notify the user of something. Generally these would be displayed inline in the content, like in a form validation.
</p>

<p>
  Alerts can be used with optional
  <code>type=""</code> and
  <code>close=""</code> attributes. The
  <code>close</code> attribute will hide the alert from displaying.
</p>

<iw-alert close="true">
  <h5>This is an alert.</h5>
  <p>It has an easy to override visual style, and is appropriately subdued.</p>
  <a href="#">It's dangerous to go alone, take this.</a>
</iw-alert>

<iw-code mode="html">
&lt;iw-alert close="true"&gt;
  &lt;h5&gt;This is an alert.&lt;/h5&gt;
  &lt;p&gt;It has an easy to override visual style, and is appropriately subdued.&lt;/p&gt;
  &lt;a href="#"&gt;It's dangerous to go alone, take this.&lt;/a&gt;
&lt;/iw-alert&gt;
</iw-code>

<iw-alert type="primary" close="true">
  <h5>This is an alert.</h5>
  <p>It has an easy to override visual style, and is appropriately subdued.</p>
  <a href="#">It's dangerous to go alone, take this.</a>
</iw-alert>

<iw-code mode="html">
&lt;iw-alert type="primary" close="true"&gt;
  &lt;h5&gt;This is an alert.&lt;/h5&gt;
  &lt;p&gt;It has an easy to override visual style, and is appropriately subdued.&lt;/p&gt;
  &lt;a href="#"&gt;It's dangerous to go alone, take this.&lt;/a&gt;
&lt;/iw-alert&gt;
</iw-code>

<iw-alert type="secondary">
  <h5>This is an alert.</h5>
  <p>It has an easy to override visual style, and is appropriately subdued.</p>
  <a href="#">It's dangerous to go alone, take this.</a>
</iw-alert>

<iw-code mode="html">
&lt;iw-alert type="secondary"&gt;
  &lt;h5&gt;This is an alert.&lt;/h5&gt;
  &lt;p&gt;It has an easy to override visual style, and is appropriately subdued.&lt;/p&gt;
  &lt;a href="#"&gt;It's dangerous to go alone, take this.&lt;/a&gt;
&lt;/iw-alert&gt;
<iw-code mode="html">

<iw-alert type="success">
  <h5>This is an alert.</h5>
  <p>It has an easy to override visual style, and is appropriately subdued.</p>
  <a href="#">It's dangerous to go alone, take this.</a>
</iw-alert>

<iw-code mode="html">
&lt;iw-alert type="success"&gt;
  &lt;h5&gt;This is an alert.&lt;/h5&gt;
  &lt;p&gt;It has an easy to override visual style, and is appropriately subdued.&lt;/p&gt;
  &lt;a href="#"&gt;It's dangerous to go alone, take this.&lt;/a&gt;
&lt;/iw-alert&gt;
</iw-code>

<iw-alert type="warning">
  <h5>This is an alert.</h5>
  <p>It has an easy to override visual style, and is appropriately subdued.</p>
  <a href="#">It's dangerous to go alone, take this.</a>
</iw-alert>

<iw-code mode="html">
&lt;iw-alert type="warning"&gt;
  &lt;h5&gt;This is an alert.&lt;/h5&gt;
  &lt;p&gt;It has an easy to override visual style, and is appropriately subdued.&lt;/p&gt;
  &lt;a href="#"&gt;It's dangerous to go alone, take this.&lt;/a&gt;
&lt;/iw-alert&gt;
</iw-code>

<iw-alert type="alert">
  <h5>This is an alert.</h5>
  <p>It has an easy to override visual style, and is appropriately subdued.</p>
  <a href="#">It's dangerous to go alone, take this.</a>
</iw-alert>

<iw-code mode="html">
&lt;iw-alert type="alert"&gt;
  &lt;h5&gt;This is an alert.&lt;/h5&gt;
  &lt;p&gt;It has an easy to override visual style, and is appropriately subdued.&lt;/p&gt;
  &lt;a href="#"&gt;It's dangerous to go alone, take this.&lt;/a&gt;
&lt;/iw-alert&gt;
</iw-code>
