<h1>Breadcrumbs</h1>

<iw-breadcrumbs content='[
  {
    "url": "http://tled.austincc.edu",
    "title": "TLED"
  },
  {
    "url": "http://tled.austincc.edu/department",
    "title": "Department"
  },
  {
    "url": "#",
    "title": "Foo"
  },
  {
    "url": "./breadcrumbs.html",
    "title": "Bar"
  }
]'></iw-breadcrumbs>

<iw-code mode="html">
&lt;iw-breadcrumbs content='[
  {
    "url": "http://tled.austincc.edu",
    "title": "TLED"
  },
  {
    "url": "http://tled.austincc.edu/department",
    "title": "Department"
  },
  {
    "url": "#",
    "title": "Foo"
  },
  {
    "url": "#",
    "title": "Bar"
  }
]'&gt;&lt;/iw-breadcrumbs&gt;
</iw-code>
