<h1>Code</h1>

<p>
  The code component is used to display snippets of code with syntax highlighting provided by the <a href="http://prismjs.com/">prismjs</a> library.
</p>

<h2>Usage</h2>

<p>
  To use the component, just wrap the code you want to display in an <code class="lang-markup">&lt;iw-code&gt;</code> tag. The component takes one parameter <code>mode</code> that specifies the languages it can highlight.
</p>
<iw-code mode="markup">
  &lt;iw-code mode="markup"&gt;
    <h1>This is a heading</h1>
    <p>
      This is a paragraph
    </p>
    <p>
      This is too.
    </p>
  &lt;/iw-code&gt;
</iw-code>

<h2>Languages Supported</h2>

<ul>
  <li>Markup (HTML)</li>
  <li>CSS</li>
  <li>Sass</li>
  <li>JavaScript</li>
  <li>JSX</li>
  <li>TypeScript</li>
  <li>Bash</li>
  <li>Docker</li>
  <li>JSON</li>
  <li>Markdown</li>
  <li>NGINX</li>
  <li>PHP</li>
  <li>Python</li>
  <li>SQL</li>
  <li>Twig</li>
  <li>Jinja2</li>
  <li>Vim</li>
  <li>YAML</li>
</ul>