<h1>Dropdown Menu</h1>

<h2>Horizontal</h2>
<iw-dropdown-menu content='[
  {
    "url": "#0",
    "title": "Item 1",
    "current": "true",
    "submenu": [
      {
        "url": "#0",
        "title": "Item 1A",
        "submenu": [
          {
            "url": "#0",
            "title": "Item 1Aa"
          },
          {
            "url": "#0",
            "title": "Item 1Ba"
          },
          {
            "url": "#0",
            "title": "Item 1Ca"
          },
          {
            "url": "#0",
            "title": "Item 1Da"
          },
          {
            "url": "#0",
            "title": "Item 1Ea"
          }
        ]
      },
      {
        "url": "#0",
        "title": "Item 1B"
      },
      {
        "url": "#0",
        "title": "Item 1C"
      },
      {
        "url": "#0",
        "title": "Item 1D"
      },
      {
        "url": "#0",
        "title": "Item 1E"
      }
    ]
  },
  {
    "url": "#0",
    "title": "Item 2",
    "submenu": [
      {
        "url": "#0",
        "title": "Item 2A"
      },
      {
        "url": "#0",
        "title": "Item 2B"
      },
      {
        "url": "#0",
        "title": "Item 2C"
      },
      {
        "url": "#0",
        "title": "Item 2D"
      },
      {
        "url": "#0",
        "title": "Item 2E"
      }
    ]
  },
  {
    "url": "#0",
    "title": "Item 3",
    "submenu": [
      {
        "url": "#0",
        "title": "Item 3A"
      },
      {
        "url": "#0",
        "title": "Item 3B"
      },
      {
        "url": "#0",
        "title": "Item 3C"
      },
      {
        "url": "#0",
        "title": "Item 3D"
      },
      {
        "url": "#0",
        "title": "Item 3E"
      }
    ]
  },
  {
    "url": "#0",
    "title": "Item 4"
  }]'></iw-dropdown-menu>

<iw-code mode="html">
  &lt;iw-dropdown-menu content='[ { "url": "#0", "title": "Item 1", "submenu": [ { "url": "#0", "title": "Item 1A" }, { "url":
  "#0", "title": Item 1B } ] }, { "url": "#0", "title": "Item 2" } ]' &gt; &lt;/iw-dropdown-menu &gt;
  <iw-code mode="html">

    <h2>Vertical</h2>
    <iw-dropdown-menu orientation="vertical" content='[
    {
      "url": "#0",
      "title": "Item 1",
      "submenu": [
        {
          "url": "#0",
          "title": "Item 1A",
          "submenu": [
            {
              "url": "#0",
              "title": "Item 1Aa"
            },
            {
              "url": "#0",
              "title": "Item 1Ba"
            },
            {
              "url": "#0",
              "title": "Item 1Ca"
            },
            {
              "url": "#0",
              "title": "Item 1Da"
            },
            {
              "url": "#0",
              "title": "Item 1Ea"
            }
          ]
        },
        {
          "url": "#0",
          "title": "Item 1B"
        },
        {
          "url": "#0",
          "title": "Item 1C"
        },
        {
          "url": "#0",
          "title": "Item 1D"
        },
        {
          "url": "#0",
          "title": "Item 1E"
        }
      ]
    },
    {
      "url": "#0",
      "title": "Item 2",
      "submenu": [
        {
          "url": "#0",
          "title": "Item 2A"
        },
        {
          "url": "#0",
          "title": "Item 2B"
        },
        {
          "url": "#0",
          "title": "Item 2C"
        },
        {
          "url": "#0",
          "title": "Item 2D"
        },
        {
          "url": "#0",
          "title": "Item 2E"
        }
      ]
    },
    {
      "url": "#0",
      "title": "Item 3",
      "submenu": [
        {
          "url": "#0",
          "title": "Item 3A"
        },
        {
          "url": "#0",
          "title": "Item 3B"
        },
        {
          "url": "#0",
          "title": "Item 3C"
        },
        {
          "url": "#0",
          "title": "Item 3D"
        },
        {
          "url": "#0",
          "title": "Item 3E"
        }
      ]
    },
    {
      "url": "#0",
      "title": "Item 4"
    }]'></iw-dropdown-menu>

    <iw-code mode="html">
      &lt;iw-dropdown-menu orientation="vertical" content='[ { "url": "#0", "title": "Item 1", "submenu": [ { "url": "#0", "title":
      "Item 1A" }, { "url": "#0", "title": Item 1B } ] }, { "url": "#0", "title": "Item 2" } ]' &gt; &lt;/iw-dropdown-menu
      &gt;
    </iw-code>