<h1>Icons</h1>

<section>
  <iw-icon-search fill="red" class="icon"></iw-icon-search>
  <iw-icon-search class="icon"></iw-icon-search>
<iw-code mode="html">
&lt;iw-icon-search fill="red"&gt;&lt;/iw-icon-search&gt;
</iw-code>
</section>


<section>
  <iw-icon-fb fill="#999" class="icon"></iw-icon-fb>
  <iw-code mode="html">
    &lt;iw-icon-fb fill="#999"&gt;&lt;/iw-icon-fb&gt;
  </iw-code>
</section>

<section>
  <iw-icon-twitter fill="red" class="icon"></iw-icon-twitter>
  <iw-code mode="html">
    &lt;iw-icon-twitter fill="red"&gt;&lt;/iw-icon-twitter&gt;
  </iw-code>
</section>


<section>
  <iw-icon-instagram fill="#999" class="icon"></iw-icon-instagram>
  <iw-code mode="html">
&lt;iw-icon-instagram fill="#999"&gt;&lt;/iw-icon-instagram&gt;
</iw-code>
</section>

<section>
  <iw-icon-home fill="red" class="icon"></iw-icon-home>
  <iw-code mode="html">
&lt;iw-icon-home fill="red"&gt;&lt;/iw-icon-home&gt;
</iw-code>
</section>

<section>
  <iw-icon-phone fill="#999" class="icon"></iw-icon-phone>
  <iw-code mode="html">
&lt;iw-icon-phone fill="#999"&gt;&lt;/iw-icon-phone&gt;
</iw-code>
</section>

<section>
  <iw-icon-location fill="red" class="icon"></iw-icon-location>
  <iw-code mode="html">
&lt;iw-icon-location fill="red"&gt;&lt;/iw-icon-location&gt;
</iw-code>
</section>

<section>
  <iw-icon-clock fill="#999" class="icon"></iw-icon-clock>
  <iw-code mode="html">
&lt;iw-icon-clock fill="#999"&gt;&lt;/iw-icon-clock&gt;
</iw-code>
</section>

<section>
  <iw-icon-access fill="red" class="icon"></iw-icon-access>
  <iw-code mode="html">
&lt;iw-icon-access fill="red"&gt;&lt;/iw-icon-access&gt;
</iw-code>
</section>

<section>
  <iw-icon-power fill="#999" class="icon"></iw-icon-power>
  <iw-code mode="html">
&lt;iw-icon-power fill="#999"&gt;&lt;/iw-icon-power&gt;
</iw-code>
</section>

<section>
  <iw-icon-bars fill="red" class="icon"></iw-icon-bars>
  <iw-code mode="html">
&lt;iw-icon-bars fill="red"&gt;&lt;/iw-icon-bars&gt;
</iw-code>
</section>

<section>
  <iw-icon-star-empty fill="#999" class="icon"></iw-icon-star-empty>
  <iw-code mode="html">
&lt;iw-icon-star-empty fill="#999"&gt;&lt;/iw-icon-star-empty&gt;
</iw-code>
</section>

<section>
  <iw-icon-star-half fill="red" class="icon"></iw-icon-star-half>
  <iw-code mode="html">
&lt;iw-icon-star-half fill="red"&gt;&lt;/iw-icon-star-half&gt;
</iw-code>
</section>

<section>
  <iw-icon-star-full fill="#999" class="icon"></iw-icon-star-full>
  <iw-code mode="html">
&lt;iw-icon-star-full fill="#999"&gt;&lt;/iw-icon-star-full&gt;
</iw-code>
</section>

<section>
  <iw-icon-warning fill="red" class="icon"></iw-icon-warning>
  <iw-code mode="html">
&lt;iw-icon-warning fill="red"&gt;&lt;/iw-icon-warning&gt;
</iw-code>
</section>

<section>
  <iw-icon-notification fill="#999" class="icon"></iw-icon-notification>
  <iw-code mode="html">
&lt;iw-icon-notification fill="#999"&gt;&lt;/iw-icon-notification&gt;
</iw-code>
</section>

<section>
  <iw-icon-plus fill="red" class="icon"></iw-icon-plus>
  <iw-code mode="html">
&lt;iw-icon-plus fill="red"&gt;&lt;/iw-icon-plus&gt;
</iw-code>
</section>

<section>
  <iw-icon-minus fill="#999" class="icon"></iw-icon-minus>
  <iw-code mode="html">
&lt;iw-icon-minus fill="#999"&gt;&lt;/iw-icon-minus&gt;
</iw-code>
</section>

<section>
  <iw-icon-info fill="red" class="icon"></iw-icon-info>
  <iw-code mode="html">
&lt;iw-icon-info fill="red"&gt;&lt;/iw-icon-info&gt;
</iw-code>
</section>

<section>
  <iw-icon-blocked fill="#999" class="icon"></iw-icon-blocked>
  <iw-code mode="html">
&lt;iw-icon-blocked fill="#999"&gt;&lt;/iw-icon-blocked&gt;
</iw-code>
</section>

<section>
  <iw-icon-x fill="red" class="icon"></iw-icon-x>
  <iw-code mode="html">
&lt;iw-icon-x fill="red"&gt;&lt;/iw-icon-x&gt;
</iw-code>
</section>

<section>
  <iw-icon-circle-up fill="#999" class="icon"></iw-icon-circle-up>
  <iw-code mode="html">
&lt;iw-icon-circle-up fill="#999"&gt;&lt;/iw-icon-circle-up&gt;
</iw-code>
</section>

<section>
  <iw-icon-circle-down fill="red" class="icon"></iw-icon-circle-down>
  <iw-code mode="html">
&lt;iw-icon-circle-down fill="red"&gt;&lt;/iw-icon-circle-down&gt;
</iw-code>
</section>
