<h1>Logos</h1>

<p>
  There are two logo components so far, one for ACC and one for TLED. The components render an svg based on optional parameters.
</p>

<h2>
  ACC Logo
</h2>

<h3>Large</h3>
<iw-acc-logo></iw-acc-logo>
<iw-code mode="html">
  &lt;iw-acc-logo&gt;&lt;/iw-acc-logo&gt;
</iw-code>

<h3>Small</h3>
<iw-acc-logo mode="compact"></iw-acc-logo>
<iw-code mode="html">
  &lt;iw-acc-logo mode="compact" &gt;&lt;/iw-acc-logo&gt;
</iw-code>

<h3>Set Breakpoints</h3>
<p>
  Flip from small to large at a certain pixel size.
</p>
<iw-acc-logo breakpoint="450px"></iw-acc-logo>
<iw-code mode="html">
  &lt;iw-acc-logo breakpoint="450px" &gt;&lt;/iw-acc-logo&gt;
</iw-code>

<h3>Large with dark star and dark text</h3>
<iw-acc-logo star="dark" text="dark"></iw-acc-logo>
<iw-code mode="html">
  &lt;iw-acc-logo star="dark" text="dark"&gt;&lt;/iw-acc-logo&gt; &lt;iw-acc-logo star="light" text="light"&gt;&lt;/iw-acc-logo&gt;
</iw-code>

<h2>TLED Logo</h2>

<iw-tled-logo></iw-tled-logo>

<iw-code mode="html">
  &lt;iw-tled-logo&gt;&lt;/iw-tled-logo&gt;
</iw-code>


<iw-tled-logo star="dark" text="dark"></iw-tled-logo>

<iw-code mode="html">
  &lt;iw-tled-logo star="dark" text="dark"&gt;&lt;/iw-tled-logo&gt;
</iw-code>