<h1>Modal</h1>

<iw-modal button="Click to open the modal">
  <h1>Awesome. I Have It.</h1>
  <p class="lead">Your couch. It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
</iw-modal>
