<h1>Tables</h1>

<p>
  Tables are entered normally, with an optional class of "stack" for small screens.
</p>

<table class="stack">
  <thead>
    <tr>
      <th>Table Header</th>
      <th>Table Header</th>
      <th>Table Header</th>
      <th>Table Header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
  </tbody>
</table>

<iw-code mode="html">
&lt;table class="stack"&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Table Header&lt;/th&gt;
      &lt;th&gt;Table Header&lt;/th&gt;
      &lt;th&gt;Table Header&lt;/th&gt;
      &lt;th&gt;Table Header&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;Content Goes Here&lt;/td&gt;
      &lt;td&gt;This is longer content Donec id elit non mi porta gravida at eget metus.&lt;/td&gt;
      &lt;td&gt;Content Goes Here&lt;/td&gt;
      &lt;td&gt;Content Goes Here&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Content Goes Here&lt;/td&gt;
      &lt;td&gt;This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.&lt;/td&gt;
      &lt;td&gt;Content Goes Here&lt;/td&gt;
      &lt;td&gt;Content Goes Here&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Content Goes Here&lt;/td&gt;
      &lt;td&gt;This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.&lt;/td&gt;
      &lt;td&gt;Content Goes Here&lt;/td&gt;
      &lt;td&gt;Content Goes Here&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
</iw-code>
