@import '../../scss/foundation';
@import '../../scss/patterns/grid';

iw-mega-menu {
  // @include foundation-menu;
  // @include foundation-dropdown-menu;
  // @include dropdown-menu-direction(horizontal);

  display: block;

  // .iw-menu--item:not(last-child) {
  //   margin-right: 1rem;
  //   height: auto;
  //   width: auto;

  //   a {
  //     padding: 1rem;
  //   }

  //   a.hover,
  //   a.open {
  //     background: white;
  //   }
  // }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem;
    // margin: 0;
  }







// this goes on the nav element
.iw-mega-menu {
  @include iw-grid();
  // @include iw-horizontal-menu();
  background: $light-gray;
  // margin-bottom: 1.5rem;
}

/* mega menu list */
.iw-menu {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 15;
}
/* a top level navigation item in the mega menu */

.iw-menu--item {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  & > a:after {
    @include css-triangle(0.35rem, black, right);
    display: inline-block;
    margin-left: 10px;
  }
  & > a.open:after, 
  & > a.focus:after,
  & > a.hover:after {
    @include css-triangle(0.35rem, black, down);
    display: inline-block;
    margin-left: 10px;
  }
}
/* first descendant link within a top level navigation item */

.iw-menu--item > a {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0 0 -1px 0;
  border: 1px solid transparent;
}
/* focus/open states of first descendant link within a top level 
    navigation item */

.iw-menu--item > a:focus,
.iw-menu--item > a.open {
  border: 1px solid #dedede;
}
/* open state of first descendant link within a top level 
    navigation item */

.iw-menu--item > a.open {
  background-color: #fff;
  border-bottom: none;
  z-index: 1;
}
/* iw-subnavigation panel */

.iw-subnav {
  position: absolute;
  display: none;
  margin: -1px 0 0;
  padding: 0.5em 1em;
  border: 1px solid #dedede;
  background-color: #fff;
  min-width: 200px;
  z-index: 9999;
}
/* iw-subnavigation panel open state */

.iw-subnav.open {
  display: block;
}
/* list of items within iw-subnavigation panel */

.iw-subnav ul {
  display: inline-block;
  vertical-align: top;
  margin: 0 1em 0 0;
  padding: 0;
}
/* list item within iw-subnavigation panel */

.iw-subnav li {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
}