@import 'node_modules/foundation-sites/scss/foundation';
@import '../../scss/settings';

iw-accordion-pane {
  display: block;
  @include accordion-item;

  .accordion-item {
    
  }

  .accordion-item__title {
    @include accordion-title;
    font-size: 1rem;
  }

  .accordion-item__content {
    @include accordion-content;
  }

  .accordion-item.is-active {
    & > a:before {
      content: '\2013';
    }

    .accordion-item__content {
      display: block;
    }
  }
}