@import '../../scss/foundation';

iw-dropdown-menu {
  @include foundation-menu;
  @include foundation-dropdown-menu;

  display: block;
  ul,
  ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}


/*
@import '../foundation';

// @include menu-base;
// @include menu-expand;
// @include menu-align(left);
// @include menu-direction(horizontal);
// @include menu-simple(left, 0);
// @include menu-nested(0, left);
// @include menu-icons;
// @include menu-icon-position;

@include foundation-dropdown;
@include foundation-dropdown-menu;

@mixin iw-horizontal-menu {
  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
}

@mixin iw-horizontal-submenu {
  list-style: none;
  min-width: 200px;
}
*/