@import 'node_modules/foundation-sites/scss/foundation';

iw-accordion-menu {
  @include foundation-accordion-menu;
  display: block;

  ul.accordion-menu {
    border-bottom: 1px solid $light-gray;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li:not(:last-child) {
      border-bottom: 1px solid $light-gray;
    }
    ul {
      border-top: 1px solid $light-gray;
    }
  }
  a {
    display: block;
  }
}