iw-acc-logo {
  // defaults
  .st0 { fill: #009B7C; }
  .st1 { fill: #007AC2; }
  .st2 { fill: #EF3E42; }
  .st3 { fill: #FFD520; }
  .letter {
    fill: #000;
  }

  .star.dark {
    .st0,
    .st1,
    .st2,
    .st3 {
      fill: #000;
    }
  }

  .star.light {
    .st0,
    .st1,
    .st2,
    .st3 {
      fill: #fff;
    }
  }

  .expanded {
    .text.large {
      display: block;
    }
    .text.small {
      display: none;
    }
  }

  .mini {
    .text.large {
      display: none;
    }
    .text.small {
      display: block;
    }
  }

  .text.dark {
    .letter{
      fill: #000;
    }
  }

  .text.light {
    .letter{
      fill: #fff;
    }
  }
}