</main>

{% for script in scripts %}
<script src={{script}}></script>
{% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
<script src="/js/script.js"></script>

<script>
    if ('serviceWorker' in navigator) {
      // auto-unregister service worker during dev mode
      navigator.serviceWorker.ready.then(registration => {
        registration.unregister().then(() => {
          location.reload(true);
        });
      });
    }
  </script>

</body>

</html>
