<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>

  {% for style in styles %}
  <link rel="stylesheet" href={{ style }}>
  {% endfor %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism-coy.min.css">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/index.css">

  <script src="build/app.js"></script>
</head>

<body>
  <a href="#main">Skip to main content</a>
  <header role="banner" class="page-header">
    <div class="page-header__content">
      <!-- <nav> is the same as <div role="nav"> -->
      {% include "templates/menu.njk" %}
    </div>
  </header>

  <!-- <main> is the same as <div role="main"> -->
  <!-- Screen readers use the Q key to jump straight to main -->
  <main id="main" class="page-content">
