<nav class="iw-horizontal-menu">
  <ul class="">
    <li><a href="/">Home</a></li>
    <li class="">
      <a href="/patterns/grid">Grid</a>
    </li>
    <li class="hasChildren">
      <a href="#">Navigation</a>
      <ul class="">
        <li><a href="/patterns/horizontal-menu">Horizontal-menu</a></li>
        <li><a href="/patterns/vertical-menu">Vertical-menu</a></li>
        <li><a href="/patterns/buttons">Buttons</a>
      </ul>
      </li>
  </ul>
</nav>
