@import 'node_modules/foundation-sites/scss/foundation';

iw-modal {
  .modal {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.3s ease;

    &.active {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
    }
  }

  .modal__content {
    position: relative;
    background: white;
    padding: 2rem;
    margin: 2rem;
  }
}