@import 'node_modules/foundation-sites/scss/foundation';
@import '../../scss/foundation';

iw-breadcrumbs {
  @include foundation-breadcrumbs;
  display: block;

  .breadcrumbs {
    .current {
      font-weight: bolder;
    }
  }
}
