iw-tled-logo {
  // defaults
  .st0{fill:#0084CB;}
  .st3{fill:#E33E46;}
  .st4{fill:#FFCE0A;}
  .st5{fill:#00AA86;}
  .letter {
    fill: #000;
  }

  .star.dark {
    .st0,
    .st3,
    .st4,
    .st5 {
      fill: #000;
    }
  }

  .star.light {
    .st0,
    .st3,
    .st4,
    .st5 {
      fill: #fff;
    }
  }

  .text.dark {
    .letter{
      fill: #000;
    }
  }

  .text.light {
    .letter{
      fill: #fff;
    }
  }
}