@import '../foundation';
@import 'node_modules/foundation-sites/scss/xy-grid/xy-grid';

@mixin iw-wrapper() {
  max-width: $global-width;
  margin: 0 auto;
}

@mixin iw-grid() {
  @include xy-grid;
}

// @mixin xy-cell(
//   $size: full,
//   $gutter-output: true,
//   $gutters: $grid-margin-gutters,
//   $gutter-type: margin,
//   $gutter-position: right left,
//   $breakpoint: null,
//   $vertical: false
// )

@mixin iw-column($width, $gutter-type: margin) {
  @include xy-cell($width, true, $grid-margin-gutters, $gutter-type);
  box-sizing: border-box;
}
