// @import 'node_modules/foundation-sites/scss/components/accordion';
@import 'node_modules/foundation-sites/scss/foundation';
@import '../../scss/settings';

iw-accordion {
  display: block;

  ul:first-child {
    // @include foundation-accordion;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $light-gray;
  }

  .accordion {
    @include accordion-container;
  }
}