@import 'node_modules/foundation-sites/scss/foundation';

iw-alert {
  display: block;
  .iw-alert__content {
    @include callout;

    @each $name, $color in $foundation-palette {
      &.#{$name} {
        @include callout-style($color);
      }
    }

    &.small {
      @include callout-size(0.5rem);
    }

    &.large {
      @include callout-size(3rem);
    }

    &.close {
      display: none;
    }
  }
}