.docs-grid {

  @import 'patterns/grid';

  .iw-wrapper {
    // @include iw-wrapper();
  }

  .introduction {
    @include iw-grid();
    padding-bottom: 1.5rem;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 1.5rem;

    h1,
    p {
      @include iw-column(full);
    }
  }

  .section-a,
  .section-b,
  .footer {
    @include iw-grid();
    padding-bottom: 1.5rem;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 1.5rem;
  }

  .section-a--heading,
  .section-b--heading,
  .footer--heading {
    @include iw-column(full);
  }

  .section-a--cell {
    background: rgba(0, 0, 0, 0.1);

    // mobile
    @include iw-column(full, padding);

    // medium and up
    @include breakpoint(medium) {
      @include iw-column(4, padding);
    }
  }

  .section-a--code,
  .section-b--code {
    @include iw-column(full);
  }

  .section-b--cell {
    background: rgba(0, 0, 0, 0.1);
    @include iw-column(full);

    @include breakpoint(medium) {
      @include iw-column(6);
    }
  }

  .footer--cell {
    background: rgba(0, 0, 0, 0.1);

    @include iw-column(full);

    @include breakpoint(medium) {
      @include iw-column(3);
    }
  }

}
