.site-header {
  padding: 1.5rem 0;
  background: $blue;
  color: white;
}
.site-headings__ {
  @include iw-grid();
}
.site-headings__title {
  font-size: 1.5rem;
  margin-bottom: 0;
  @include iw-column(full);
}

.site-headings__description {
  font-size: 1.1rem;
  @include iw-column(full);
  color: hsla(0, 0%, 100%, 0.5);
}

.wrapper {
  @include iw-wrapper();
}

.page-index {
  @include iw-grid();
  box-sizing: border-box;
  background: white;
}

aside {
  @include iw-column(3);
  margin-top: 2rem;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li:not(last-child) {
      border-bottom: 1px dashed #EBEBEB;
      margin-bottom: 1rem;
    }
  }
}

main {
  @include iw-column(9);
  margin-top: 1.5rem;
}

