// include a basic stylesheet for printing
@import 'print';

// Most of these should probably be included at the component level instead of here
// Global styles that don't need a component can be included
@include foundation-typography;
@include foundation-forms;
@include foundation-table;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-responsive-embed;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
// @include foundation-visibility-classes;
// @include foundation-float-classes;

// custom patterns to include globally
@import 'patterns/buttons';
@import 'patterns/grid';


body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: Montserrat;
  box-sizing: border-box;
  // background: hsl(0, 0%, 95%);
}

a[href="#main"] {
  position: absolute;
  top: 0;
  left: 999em;
}

a[href='#main']:focus {
  left: auto;
}

pre > code {
  display: block;
}